<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Update Faculty</title>
    <%- include ('../../common/css.ejs') %>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%- include ('../../common/header_mobile.ejs') %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%- include ('../../common/sidebar.ejs') %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%- include ('../../common/header_desktop.ejs') %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <% if (alertMessage && alertMessage.length) { %>
                            <div class="alert alert-info" role="alert">
                                <strong><%= alertMessage %></strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                        <% } %>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">Faculty</div>
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">Edit Faculty</h3>
                                        </div>
                                        <hr>
                                        <% if (faculty) { %>
                                        <form action="/admin/faculties/edit/<%= faculty.id %>" method="post" novalidate="novalidate">
                                            <div class="form-group has-success">
                                                <label for="name" class="control-label mb-1">Faculty Name</label>
                                                <input id="name" name="short_name" type="text" class="form-control valid" value="<%= faculty.short_name %>">
                                            </div>
                                            <div>
                                                <button id="button" type="submit" class="btn btn-lg btn-info btn-block">Update</button>
                                            </div>
                                        </form>
                                        <% } else { %>
                                            <h3 class="text-center title-2">Faculty not found</h3>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include ('../../common/footer.ejs') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include ('../../common/js.ejs') %>
</body>

</html>
<!-- end document-->
