<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Add Teacher</title>

    {{> css}}

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        {{> header_mobile}}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        {{> sidebar}}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {{> header_desktop}}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                            {{#if alertMessage}}
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <strong>{{alertMessage}}</strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {{/if}}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">Teacher</div>
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">Add Teacher</h3>
                                        </div>
                                        <hr>
                                        <form action="/admin/departments/add" method="post" novalidate="novalidate">
                                            <div class="form-group has-success">
                                                <label for="name" class="control-label mb-1">Name</label>
                                                <input id="short_name" name="short_name" type="text" class="form-control valid" placeholder="Enter name...">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="name" class="control-label mb-1">Email</label>
                                                <input id="email" name="email" type="email" class="form-control valid" placeholder="Enter email...">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="name" class="control-label mb-1">Password</label>
                                                <input id="password" name="password" type="password" class="form-control valid" placeholder="Enter password...">
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Faculty</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="faculty_id" id="faculty_id" class="form-control">
                                                        <option>Please select faculty</option>
                                                        {{#each faculties}}
                                                            <option value="{{id}}">{{short_name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Department</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="departments_id" id="departments_id" class="form-control">
                                                        <option>Please select department</option>
                                                        {{#each departments}}
                                                            <option value="{{id}}">{{short_name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <button id="button" type="submit" class="btn btn-lg btn-info btn-block">ADD</button>
                                            </div>
                                        </form>
                            </div>
                        </div>
                    </div>
                </div>
                {{> footer}}
            </div>
        </div>
    </div>

{{> js}}

</body>

</html>
<!-- end document-->
