<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Add Course</title>

    <%- include('../../common/css.ejs') %>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <%- include('../../common/header_mobile.ejs')%>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <%- include('../../common/sidebar.ejs')%>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <%- include('../../common/header_desktop.ejs')%>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                            <% if (alertMessage && alertMessage.length) { %>
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <strong><%= alertMessage %></strong>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            <% } %>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">Courses</div>
                                    <div class="card-body">
                                        <div class="card-title">
                                            <h3 class="text-center title-2">Update Course</h3>
                                        </div>
                                        <hr>
                                        <% if (course) { %>
                                        <form action="/admin/courses/edit/<%= course.id %>" method="post" novalidate="novalidate">
                                            <div class="form-group has-success">
                                                <label for="title" class="control-label mb-1">Course Title</label>
                                                <input id="title" name="title" type="text" class="form-control valid" value="<%= course.title %>">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="code" class="control-label mb-1">Course Code</label>
                                                <input id="code" name="code" type="text" class="form-control valid" value="<%= course.code %>">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="semester" class="control-label mb-1">Semester</label>
                                                <input id="semester" name="semester" type="text" class="form-control valid" value="<%= course.semester %>">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="credit_hour" class="control-label mb-1">Credit Hour</label>
                                                <input id="credit_hour" name="credit_hour" type="text" class="form-control valid" value="<%= course.credit_hour %>">
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Select Department</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="department_id" id="department_id" class="form-control">
                                                        <option>Please select department</option>
                                                        <% for(let department of departments) { %>
                                                            <% if(course.department_id == department.id) { %>
                                                                <option value="<%= department.id %>" selected><%= department.short_name%></option>
                                                            <% } else { %>
                                                                <option value="<%= department.id %>"><%= department.short_name%></option>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="select" class=" form-control-label">Maintainable</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="maintainable" id="maintainable" class="form-control">
                                                        <option>Please select</option>
                                                        <% if (Object.keys(maintainableOptions).length > 0) { %>
                                                            <% for (let [key, value] of Object.entries(maintainableOptions)) { %>
                                                                <% if (course.maintainable == value) { %>
                                                                    <option value="<%= value %>" selected><%= key %></option>
                                                                <% } else { %>
                                                                    <option value="<%= value %>"><%= key %></option>
                                                                <% } %>
                                                            <% } %>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div>
                                                <button id="button" type="submit" class="btn btn-lg btn-info btn-block">Update</button>
                                            </div>
                                        </form>
                                        <% } else { %>
                                            <div class="alert alert-danger" role="alert">
                                                <strong>Course not found</strong>
                                            </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('../../common/footer.ejs') %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('../../common/js.ejs') %>

</body>

</html>
<!-- end document-->
